<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutrisys">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".UpdateDepo3"></activity>
        <activity android:name=".UpdateDepo2" />
        <activity android:name=".AddDepo3" />
        <activity android:name=".AddDepo2" />
        <activity android:name=".ListDepo" />
        <activity android:name=".DeleteDepo" />
        <activity android:name=".UpdateDepo" />
        <activity android:name=".AddDepo" />
        <activity android:name=".Registros" />
        <activity android:name=".TEjercicios" />
        <activity android:name=".EDprofileEsp" />
        <activity android:name=".main_opcionDepo" />
        <activity android:name=".main_opcionPsico" />
        <activity android:name=".main_opcionNutri" />
        <activity android:name=".checkinEspecialistas" />
        <activity android:name=".InfoGeneral" />
        <activity android:name=".ListEpesas" />
        <activity android:name=".Estiramiento" />
        <activity android:name=".Cardio" />
        <activity android:name=".Pesas" />
        <activity android:name=".EDprofile" />
        <activity android:name=".main_opcion" />
        <activity android:name=".checkin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>